In [1]:
import sqlite3

In [6]:
connection = sqlite3.connect(r"C:\Users\David gathara marigi\Downloads\chinook.db")
cursor = connection.cursor()

In [9]:
cursor.execute("SELECT * FROM artists LIMIT 6")
cursor.fetchall()

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim')]

In [13]:
cursor.execute("SELECT Total, InvoiceDate FROM invoices ORDER BY Total DESC LIMIT 5")
cursor.fetchall()

[(25.86, '2013-11-13 00:00:00'),
 (23.86, '2012-08-05 00:00:00'),
 (21.86, '2010-02-18 00:00:00'),
 (21.86, '2011-04-28 00:00:00'),
 (18.86, '2010-01-18 00:00:00')]

In [14]:
cursor.execute("SELECT Total, BillingCountry FROM invoices WHERE BillingCountry == 'Canada' LIMIT 5")
cursor.fetchall()

[(8.91, 'Canada'),
 (8.91, 'Canada'),
 (0.99, 'Canada'),
 (1.98, 'Canada'),
 (13.86, 'Canada')]

In [16]:
cursor.execute("""SELECT SUM(Total), BillingCountry FROM invoices GROUP BY BillingCountry ORDER BY SUM(Total) DESC LIMIT 5;""")
cursor.fetchall ()

[(523.06, 'USA'),
 (303.96, 'Canada'),
 (195.1, 'France'),
 (190.1, 'Brazil'),
 (156.48, 'Germany')]

In [17]:
cursor.execute("""SELECT invoices.BillingCountry, invoice_items.TrackId FROM invoices JOIN invoice_items ON invoices.InvoiceId = invoice_items.InvoiceId LIMIT 5;""")
cursor.fetchall()

[('Germany', 2), ('Germany', 4), ('Norway', 6), ('Norway', 8), ('Norway', 10)]

In [18]:
cursor.execute('PRAGMA table_info(invoices);')
cursor.fetchall()

[(0, 'InvoiceId', 'INTEGER', 1, None, 1),
 (1, 'CustomerId', 'INTEGER', 1, None, 0),
 (2, 'InvoiceDate', 'DATETIME', 1, None, 0),
 (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0),
 (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0),
 (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0),
 (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0),
 (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0),
 (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]

In [19]:
cursor.execute("""
SELECT 
 invoice_items.TrackId,
 COUNT(invoice_items.TrackId),
 invoices.BillingCountry
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId = invoice_items.InvoiceId
GROUP BY invoices.BillingCountry
ORDER BY COUNT(invoice_items.TrackId) DESC
LIMIT 5;
""")
cursor.fetchall()

[(99, 494, 'USA'),
 (42, 304, 'Canada'),
 (234, 190, 'France'),
 (738, 190, 'Brazil'),
 (2, 152, 'Germany')]

In [20]:
cursor.execute("""
SELECT tracks.Name, COUNT(invoice_items.TrackId),
invoices.BillingCountry
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId = invoice_items.InvoiceId
JOIN tracks
ON tracks.TrackId = invoice_items.TrackId
GROUP BY invoices.BillingCountry
ORDER BY COUNT(invoice_items.TrackId) DESC
LIMIT 5;
""")
cursor.fetchall()

[('Your Time Has Come', 494, 'USA'),
 ('Right Through You', 304, 'Canada'),
 ('Morena De Angola', 190, 'France'),
 ('Admirável Gado Novo', 190, 'Brazil'),
 ('Balls to the Wall', 152, 'Germany')]

In [21]:
connection.close()